<div class="gray-back-feature-bar">
	<div class="">
		<div class="gray-back-feature-inn">
			<ul>
				<li>
					<div>
						<span><img src="{{section.settings.image_1 | img_url: "original"}}" /></span>
						<p>{{section.settings.text_1}}</p>
					</div>
				</li>
				<li>
					<div>
						<span><img src="{{section.settings.image_2 | img_url: "original"}}" /></span>
						<p>{{section.settings.text_2}}</p>
					</div>
				</li>
				<li>
					<div>
						<span><img src="{{section.settings.image_3 | img_url: "original"}}" /></span>
						<p>{{section.settings.text_3}}</p>
					</div>
				</li>
				<li>
					<div>
						<span><img src="{{section.settings.image_4 | img_url: "original"}}" /></span>
						<p>{{section.settings.text_4}}1</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>