<div class="gray-back-feature-bar">
	<div class="">
		<div class="gray-back-feature-inn">
			<ul>
				<li>
					<div>
						<span>{{section.settings.svg_code_1}}</span>
						<p>{{section.settings.text_1}}</p>
					</div>
				</li>
				<li>
					<div>
						<span>{{section.settings.svg_code_2}}</span>
						<p>{{section.settings.text_2}}</p>
					</div>
				</li>
				<li>
					<div>
						<span>{{section.settings.svg_code_3}}</span>
						<p>{{section.settings.text_3}}</p>
					</div>
				</li>
				<li>
					<div>
						<span>{{section.settings.svg_code_4}}</span>
						<p>{{section.settings.text_4}}1</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>