<div class="ext-top-bar">
	<div class="ext-top-bar-row">
      <div class="ext-top-bar-left">
        <div class="ext-top-bar-left-inn">
          
       <div class="custom-slider">
        <p class="list-custom-slide">{{section.settings.accounment_1}}</p>
        <p class="list-custom-slide">{{section.settings.accounment_2}} </p>
        <p class="list-custom-slide">{{section.settings.accounment_3}}</p>
        </div>
        </div>
        <div class="ext-top-bar-left-inn-close">
        </div>
      </div>
		<div class="ext-top-bar-right">
          <ul>
          	<li><a href="{{section.settings.message_link}}">{{section.settings.message_text}}</a></li>
            <li class="custom_currency_wrapper"><div class="custom-currency-drop">{% include "desktop-currency" %}</div>
            
            </li>   
          </ul>
      </div>
	</div>  
</div>
<div class="cst-header-sec-main sec-hide-for-mobile">
<div class="cst-header-sec">
	<div class="cst-header-row">
		<div class="cst-header-left"> 
          <ul class="custom-main-menu">
           
      {% for link in linklists[section.settings.main_linklist].links %}
            
          <li><a href="{{link.href}}">{{link.handle}}</a>
            
            {% if link.handle == section.settings.main_linklist_1 %}
            {% assign selectedlist = section.settings.main_linklist_1 %}
             {% assign text_11 = section.settings.last_text_11 %}
             {% assign link_11 = section.settings.last_link_11 %}
             {% assign text_12 = section.settings.last_text_12 %}
             {% assign link_12 = section.settings.last_link_12 %}
          {%include "mega-menu-desktop"%}
              {% elsif link.handle == section.settings.main_linklist_2 %}
             {% assign selectedlist = section.settings.main_linklist_2 %}
             {% assign text_11 = section.settings.last_text_21 %}
             {% assign link_11 = section.settings.last_link_21 %}
             {% assign text_12 = section.settings.last_text_22 %}
             {% assign link_12 = section.settings.last_link_22 %}
              {%include "mega-menu-desktop"%}
            {% elsif link.handle == section.settings.main_linklist_3 %}
             {% assign selectedlist = section.settings.main_linklist_3 %}
             {% assign text_11 = section.settings.last_text_31 %}
             {% assign link_11 = section.settings.last_link_31 %}
             {% assign text_12 = section.settings.last_text_32 %}
             {% assign link_12 = section.settings.last_link_32 %}
              {%include "mega-menu-desktop"%}
            {%endif%}
          </li>
          {%endfor%}
          </ul>
      </div>
      <div class="cst-header-mid"><a href="/"><img src="{{ section.settings.logo | img_url: 'original' }}" /></a> </div>
		<div class="cst-header-right"> 
      <ul>
        <li class="custom-goods"><a href="{{section.settings.custom_link}}">{{section.settings.custom_text}}</a></li>
        <li class="custom-login">
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
          <a href="/account">Account</a>
        {%else%}
          <a href="/account/login">Login</a>
          {%endif%}
           {%endif%}
        </li>
        <li class="custom-search">
          <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top" data-predictive-search-open-drawer>
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>
          Search</li>
        <li class="custom-cart-icon"><div class="custom-cart-icon-box"><img src="{{'bag_ico.svg' | asset_url}}" /></div></li>
          </ul>
      </div>
	</div>
</div>
</div>
{% include "mobile-menu" %}