<div class="ant-mm-drop-main">
<div class="ant-mm-drop-inn">
<div class="ant-mm-drop-row">
<div class="ant-mm-drop-row">

    {% for link in linklists[selectedlist].links %}

  {%- assign child_list_handle = link.title | handleize -%}
  {% if link.handle =="colors" %}
  <div class="ant-mm-drop-block ant-mm-drop-color-block">
<div class="ant-mm-drop-box">
<h3>{{link.title}}</h3>
<ul class="ant-mm-drop-box-list ant-mm-drop-box-inline-list">
 {% for childlink in link.links %}
  {% capture imagename %}{{childlink.title | handleize | append: ".png" | prepend: "bs-"}}{%endcapture%}
<li><a href="{{childlink.url}}"><span class="ant-mm-drop-box-color {%if childlink.handle == "white"%}custom-white{%endif%}"><img class="lazyload" data-src="{{imagename| file_url}}" /></span> {{childlink.title}}</a></li>
 {%endfor%}
</ul>
</div>
</div>
  {%else%}
  <div class="ant-mm-drop-block">
<div class="ant-mm-drop-box">
<h3>{{link.title}}</h3>
<ul class="ant-mm-drop-box-list">
  {% for childlink in link.links %}
<li><a href="{{childlink.url}}">{{childlink.title}}</a></li>
  {%endfor%}
</ul>
</div>
</div>
  {%endif%}
  {%endfor%}



<div class="ant-mm-drop-block ant-mm-drop-img-text-block">
<div class="ant-mm-drop-box ant-mm-drop-box-last">
<div class="ant-mm-drop-box-con">
<a href="{{link_11}}">
  <div class="dt-drop-gift-car-01">{{section.settings.gift_image_1}}</div>
<h3>{{text_11}}</h3>
</a>
  </div>
  <div class="ant-mm-drop-box-con">
  <a href="{{link_12}}">
    <div class="dt-drop-gift-car-02">{{section.settings.gift_image_2}}</div>
<h3>{{text_12}}</h3>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>