<ul>
<li>
						<div class="cst-mob-header-dd-tab">
							<ul class="cst-mob-header-dd-tab-list">
								<li class="tab-listing active-tab" data-tab="first-tab"><a  href="#">Woman</a></li>
								<li class="tab-listing" data-tab="second-tab"><a href="#">Men</a></li>
							</ul>
							<div data-content="first-tab" class="active_content cst-mob-header-dd-tab-cont">
								<div class="cst-mob-header-dd-tab-cont-box">
									<h3>Shoes</h3>
									<ul class="cst-mob-header-dd-tab-cont-list">
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Sneakers</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Anytime Flats</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>All-Day Heel</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Everyday Flats</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="cst-mob-header-dd-tab-cont-box">
									<h3>Style</h3>
									<ul class="cst-mob-header-dd-tab-cont-list">
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Classics</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Luxury</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Limited Edition</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Neutrals</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Metallics</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Prints</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Ribbons</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="cst-mob-header-dd-tab-cont-box">
									<h3>Colors</h3>
									<ul class="cst-mob-header-dd-tab-cont-list cst-mob-header-dd-tab-cont-list-color">
										<li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
									</ul>
								</div>
							</div>
                          <div style="display:none;" data-content="second-tab" class="cst-mob-header-dd-tab-cont">
								<div class="cst-mob-header-dd-tab-cont-box">
									<h3>Shoes</h3>
									<ul class="cst-mob-header-dd-tab-cont-list">
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Sneakers</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Anytime Flats</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>All-Day Heel</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Everyday Flats</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="cst-mob-header-dd-tab-cont-box">
									<h3>Style</h3>
									<ul class="cst-mob-header-dd-tab-cont-list">
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Classics</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Luxury</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Limited Edition</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Neutrals</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Metallics</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Prints</span>
											</a>
										</li>
										<li>
											<a href="#">
												<div><img src="{{'dummy.jpg' | asset_url | replace: ".jpg","_small.jpg" }}" /></div>
												<span>Ribbons</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="cst-mob-header-dd-tab-cont-box">
									<h3>Colors</h3>
									<ul class="cst-mob-header-dd-tab-cont-list cst-mob-header-dd-tab-cont-list-color">
										<li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
                                      <li>
											<a href="#">
												<img src="{{'color.png' | asset_url| replace: ".png","_small.png"}}">												
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
</ul>