<div class="cst-header-sec-mob-main sec-hide-for-desktop">
<div class="cst-mob-header">
	<div class="cst-mob-header-row">
		<div class="cst-mob-header-left"> 
			<div class="cst-mob-header-menu-toggle"></div>
			<div class="cst-mob-header-dropdown">
				<ul class="accordion-child">
                  <li class="mobile-accordion-list custom-open-accordion"><span>{{section.settings.menu_text_1}}</span>
                  {% include "menu-tabs" %} 
                  </li>
                  <li class="mobile-accordion-list"><span>{{section.settings.other_mobile_menu}}</span>
                  <ul>
                    {% for link in linklists[section.settings.other_mobile_menu].links %}
					<li><a href="{{link.url}}">{{link.title}}</a></li>
                    {%endfor%}
                  </ul>
                  </li>
                  
				</ul>
				<div class="cst-mob-header-dropdown-bot">
					<div class="cst-mob-header-dropdown-list">
						<ul>
							<li>
								<div><div class="custom-currency-drop">{% include "mobile-currency" %}</div></div>
							</li>
							<li>
								 {% if shop.customer_accounts_enabled %}
            {% if customer %}
          <a href="/account">Account</a>
        {%else%}
          <a href="/account/login">Login</a>
          {%endif%}
           {%endif%}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="cst-mob-header-mid">
			<div class="cst-mob-header-logo"><img src="{{ section.settings.logo | img_url: 'medium' }}"></div>
		</div>
		<div class="cst-mob-header-right">
			<ul>
				<li class="custom-search custom-mobile-search">
          <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top" data-predictive-search-open-drawer>
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>
          Search</li>
				<li class="custom-mobile-cart"><img src="{{'bag_ico.svg' | asset_url}}" /></li>
			</ul>
		</div>
	</div>
</div>
</div>