<div class="cst-header-sec-mob-main sec-hide-for-desktop">
<div class="cst-mob-header">
	<div class="cst-mob-header-row">
		<div class="cst-mob-header-left"> 
			<div class="cst-mob-header-menu-toggle"></div>
			<div class="cst-mob-header-dropdown">
              {% include "menu-tabs" %} 
              
              <ul>
                    {% for link in linklists[section.settings.other_mobile_menu].links %}
					<li><a href="{{link.url}}">{{link.title}}</a></li>
                    {%endfor%}
                  </ul>
				
				<div class="cst-mob-header-dropdown-bot">
					<div class="cst-mob-header-dropdown-list">
						<ul>
							<li>
								<div><div class="custom-currency-drop">{% include "mobile-currency" %}</div></div>
							</li>
							<li>
								 {% if shop.customer_accounts_enabled %}
            {% if customer %}
          <a href="/account">Account</a>
        {%else%}
          <a href="/account/login">Login</a>
          {%endif%}
           {%endif%}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="cst-mob-header-mid">
          <div class="cst-mob-header-logo">
						<a href="/">
							{% comment %} <img src="{{ section.settings.logo | img_url: 'medium' }}"> {% endcomment %}
							<svg width="172px" height="40px" viewBox="0 0 193 21" version="1.1" style="display: block;">
									<g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="icons" transform="translate(-250.000000, -510.000000)" fill="#231F20" fill-rule="nonzero">
													<g id="AS-Logo" transform="translate(250.000000, 510.000000)">
															<path d="M0,17.0437515 L0,16.7641635 C0,14.9188779 0.869653792,13.2832845 4.191446,12.65421 L7.9409372,11.9412588 C9.095723,11.7175881 9.2382892,11.6616702 9.3808554,11.5218757 L9.3808554,10.5293364 C9.3808554,8.68405095 8.6537682,7.84528515 6.34419562,7.84528515 C3.89205712,7.84528515 3.0224033,8.6980305 3.0224033,11.242287 L3.0224033,11.6616702 L0.427698586,11.6616702 C0.427698586,8.8378248 1.29735242,6 6.34419562,6 C10.0936864,6 11.8329936,7.551717 11.8329936,10.2497475 L11.8329936,17.1835466 C11.8329936,18.1760865 12.1181262,18.5954694 13.1303466,18.5954694 L14,18.5954694 L14,20.5805481 L12.8452142,20.5805481 C11.1201628,20.5805481 10.1079433,19.7278035 9.9653764,18.3158805 C9.095723,19.8675975 7.6558048,20.999931 4.77596756,20.999931 C1.15478608,21.0139095 0,18.8890371 0,17.0437515 Z M9.5234216,14.7790839 L9.5234216,13.227367 C9.38085563,13.3671613 9.23828938,13.4230791 8.08350325,13.64675 L5.04684309,14.2059273 C2.879837,14.5973514 2.5947046,15.61785 2.5947046,16.7501841 C2.5947046,18.1621066 3.32179218,19.1546463 5.1894092,19.1546463 C7.6415477,19.1686261 9.5234216,17.6169087 9.5234216,14.7790839 Z" id="Shape"></path>
															<path d="M20.0150987,6.43186181 L22.612079,6.43186181 L22.612079,8.33205375 C23.3821138,6.7341651 25.3600464,6 27.5040649,6 C31.3240421,6 33,7.45393476 33,11.2399233 L33,21 L30.4030199,21 L30.4030199,12.1180425 C30.4030199,8.7639156 29.3310105,7.88579655 27.0360051,7.88579655 C23.3670152,7.88579655 22.5969802,10.21785 22.5969802,12.9817659 L22.5969802,21 L20,21 L20,6.43186181 L20.0150987,6.43186181 Z" id="Shape"></path>
															<path d="M40,13.779851 L40,13.220149 C40,9.26026125 41.9012344,6 47,6 C52.0987657,6 54,9.26026125 54,13.220149 L54,13.779851 C54,17.7397395 52.0987657,21 47,21 C41.9012344,21 40,17.7537315 40,13.779851 Z M51.3786002,13.4999999 C51.3786002,9.54011199 49.9238676,7.8330224 46.9999997,7.8330224 C44.0761317,7.8330224 42.6213992,9.54011199 42.6213992,13.4999999 C42.6213992,17.4598877 44.0761317,19.1669774 46.9999997,19.1669774 C49.9238676,19.1669774 51.3786002,17.4738806 51.3786002,13.4999999 Z" id="Shape"></path>
															<path d="M65.5878085,8.19280813 L65.5878085,17.6128529 C65.5878085,18.4996177 66.023222,18.9357309 66.9085634,18.9357309 L70,18.9357309 L70,21 L66.328012,21 C64.2670536,21 63.091437,19.822494 63.091437,17.7582257 L63.091437,8.19280813 L60,8.19280813 L60,6.27390959 L63.091437,6.27390959 L63.091437,2 L65.5878085,2 L65.5878085,6.27390959 L70,6.27390959 L70,8.19280813 L65.5878085,8.19280813 Z" id="Shape"></path>
															<path d="M77.0150987,0 L79.6120789,0 L79.6120789,7.94354295 C80.3821138,6.4467186 82.2090593,5.5426959 84.6550526,5.5426959 C88.3240421,5.5426959 90,7.33592076 90,11.2484127 L90,21 L87.4030199,21 L87.4030199,11.856034 C87.4030199,8.5511643 86.3310105,7.49894124 84.0360051,7.49894124 C80.3670152,7.49894124 79.5969802,9.8997885 79.5969802,12.745236 L79.5969802,21 L77,21 L77,0 L77.0150987,0 Z" id="Shape"></path>
															<path d="M96,13.7798295 L96,13.2201294 C96,9.54010215 97.5711111,6 103.077778,6 C108.74,6 110,9.54010215 110,13.2201294 L110,13.9337475 L98.8155555,13.9337475 L98.8155555,14.4934464 C98.8155555,17.613774 100.231111,19.1669415 103.062222,19.1669415 C105.893333,19.1669415 106.842222,18.033549 106.842222,15.766764 L109.673334,15.766764 C109.673334,18.5932485 107.946667,20.9999589 103.062222,20.9999589 C97.5711111,21.0139515 96,17.4738495 96,13.7798295 Z M107.168889,12.2266623 C107.168889,9.40017731 105.753333,7.8330173 103.077778,7.8330173 C100.246667,7.8330173 98.8311112,9.38618487 98.8311112,12.2266623 L107.168889,12.2266623 Z" id="Shape"></path>
															<path d="M116,6 L118.784173,6 L118.784173,8.2507404 C119.269784,7.19940765 120.257194,6 123.203237,6 L125,6 L125,8.2507404 L123.203237,8.2507404 C119.755396,8.2507404 118.784173,9.15399795 118.784173,12.7522212 L118.784173,21 L116,21 L116,6 Z" id="Shape"></path>
															<path d="M130,15.0363131 L132.630588,15.0363131 C132.630588,18.1508378 134.022353,19.1424585 136.805882,19.1424585 C139.130588,19.1424585 140.369412,18.4301674 140.369412,16.7122905 C140.369412,15.7486035 140.002353,14.8407817 138.197647,14.4776535 L134.42,13.6815645 C131.850588,13.1508381 130.458824,11.9217878 130.458824,10.0921788 L130.458824,9.8128491 C130.458824,7.6899441 132.630588,6 136.408235,6 C140.063529,6 142.694118,7.5502794 142.694118,11.51676 L140.063529,11.51676 C140.063529,8.6955306 138.671764,7.84357545 136.285882,7.84357545 C133.869412,7.84357545 133.089412,8.7234636 133.089412,9.91061475 C133.089412,11.0977653 133.869412,11.544693 135.108235,11.8100559 L139.130588,12.6620115 C141.638824,13.1927373 143,14.351955 143,16.47486 L143,16.75419 C143,19.5754185 140.58353,21 136.805882,21 C132.844706,20.9720675 130,19.4078211 130,15.0363131 Z" id="Shape"></path>
															<path d="M149,13.779828 L149,13.2201276 C149,9.2602515 150.901234,6 156,6 C161.098766,6 163,9.2602515 163,13.2201276 L163,13.779828 C163,17.7397035 161.098766,20.999955 156,20.999955 C150.901234,21.013947 149,17.7536966 149,13.779828 Z M160.3786,13.4999774 C160.3786,9.54010137 158.923868,7.8330169 156,7.8330169 C153.090535,7.8330169 151.621399,9.52610873 151.621399,13.4999774 C151.621399,17.4598533 153.076132,19.1669379 156,19.1669379 C158.909464,19.1669379 160.3786,17.4738462 160.3786,13.4999774 Z" id="Shape"></path>
															<polygon id="Shape" points="170 0 173 0 173 21 170 21"></polygon>
															<path d="M179,13.7798295 L179,13.2201294 C179,9.54010215 180.571111,6 186.077778,6 C191.74,6 193,9.54010215 193,13.2201294 L193,13.9337475 L181.846667,13.9337475 L181.846667,14.4934464 C181.846667,17.613774 183.262222,19.1669415 186.093333,19.1669415 C188.924445,19.1669415 189.873333,18.033549 189.873333,15.766764 L192.704444,15.766764 C192.704444,18.5932485 190.977777,20.9999589 186.093333,20.9999589 C180.586667,21.0139515 179,17.4738495 179,13.7798295 Z M190.184445,12.2266623 C190.184445,9.40017731 188.768889,7.8330173 186.093333,7.8330173 C183.262222,7.8330173 181.846667,9.38618487 181.846667,12.2266623 L190.184445,12.2266623 Z" id="Shape"></path>
													</g>
											</g>
									</g>
							</svg>
						</a>
					</div>
		</div>
		<div class="cst-mob-header-right">
			<ul>
				<li class="custom-search custom-mobile-search">
          <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top" data-predictive-search-open-drawer>
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>
          Search</li>
				<li class="custom-mobile-cart">{% if cart.item_count > 0 %}<span class="cart_count_items">{{cart.item_count}}</span>{%endif%}<img src="{{'bag_ico.svg' | asset_url}}" /></li>
			</ul>
		</div>
	</div>
</div>
</div>