<div class="sin-pro-faq-main">
  <div class="sin-pro-faq-inn">
    <h3>{{section.settings.faq}}</h3>
    <div id="product-accordion">
      <h3>{{section.settings.quest_1}}</h3>
      <div>
       {{section.settings.ans_1}}
      </div>
       <h3>{{section.settings.quest_2}}</h3>
      <div>
       {{section.settings.ans_2}}
      </div>
       <h3>{{section.settings.quest_3}}</h3>
      <div>
       {{section.settings.ans_3}}
      </div>
      <h3>{{section.settings.quest_4}}</h3>
      <div>
       {{section.settings.ans_4}}
      </div>
    </div>
  </div>
</div>