<div class="custom-review-product">
  <!-- Stamped - Begin Star Rating Badge --><span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span><!-- Stamped - End Star Rating Badge -->
</div>
<div class="custom-offer-pro">
  <svg width="16px" height="32px" viewBox="0 0 35 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>C42D80A6-E823-4FBB-A998-5D7BBB0368B5</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icons" transform="translate(-489.000000, -321.000000)" stroke="#3D3D3D">
            <g id="other_ico" transform="translate(505.546665, 349.027627) scale(-1, 1) rotate(22.000000) translate(-505.546665, -349.027627) translate(490.586400, 320.529050)">
                <path d="M14.9618545,24.4309161 C18.3343179,24.4309161 21.06824,18.9630712 21.06824,12.2181436 C21.06824,5.47321571 18.3343179,0.0053710938 14.9618545,0.0053710938 C11.589391,0.0053710938 8.855469,5.47321571 8.855469,12.2181436 C8.855469,18.9630712 11.589391,24.4309161 14.9618545,24.4309161 Z" id="Oval"></path>
                <path d="M15.152344,41.054806 C17.880027,41.054806 20.319682,39.4716708 21.937217,36.983887" id="Shape"></path>
                <path d="M15.443074,41.0308847 C12.7165152,41.0308847 10.2842028,39.4483177 8.658203,36.9599617" id="Shape"></path>
                <path d="M13.7265625,33.291016 C14.3902551,35.9417288 14.9001427,37.5129665 14.9001427,37.5129665" id="Shape"></path>
                <path d="M16.9761156,33.2353517 C16.3062714,35.531813 15.619141,37.9853364 15.619141,37.9853364" id="Shape"></path>
                <path d="M13.125,40.522056 C13.125,39.0231823 14.0363067,37.808105 15.1604605,37.808105 C16.2846142,37.808105 17.195921,39.0231823 17.195921,40.522056" id="Shape"></path>
                <path d="M25.7427636,25.0241073 C25.8154291,23.9846747 24.2307339,15.1092229 23.6288781,11.1929838 C23.3802877,9.57479517 23.1335628,7.95285076 22.5522607,6.42268674 C21.19155,2.841689 19.0439386,0.00048828125 15.6328125,0.00048828125" id="Shape"></path>
                <path d="M25.9248833,36.0411377 C25.8298947,34.7103021 25.6467025,33.352581 25.416016,31.9702147" id="Shape"></path>
                <path d="M4.765625,37.9995117 C4.79048716,40.0408875 5.03214733,42.0740675 5.48664372,44.06572 C7.39111457,51.8566167 10.5847366,56.9971547 14.9108486,56.9971547 C18.9840378,56.9971547 22.4985322,51.8491658 24.4011162,44.0582699 C24.8495916,42.0977834 25.0905932,40.0966503 25.120247,38.0870499" id="Shape"></path>
                <path d="M5.25427025,32.015545 C4.90121473,33.1234543 4.61235113,34.2313635 4.46257,35.2949563" id="Shape" transform="translate(4.858420, 33.655251) rotate(-9.000000) translate(-4.858420, -33.655251) "></path>
                <path d="M14.2839812,0.025878906 C10.8786011,0.025878906 8.72105095,3.0222845 7.36861243,6.79692576 C6.78766173,8.42055524 6.54295252,10.1212175 6.2926393,11.8278064 C5.69114045,15.9579863 5.19238213,18.7232916 5.00558124,20.4358064 C4.90470877,22.0910384 4.83932846,23.3393765 4.7851562,24.4514239" id="Shape"></path>
                <path d="M17.6039947,31.582322 C17.6039947,31.582322 23.6773638,32.0572509 26.228332,36.5880351 C26.3875439,36.8579787 26.4038178,37.1827239 26.2723144,37.4656605 C26.1556814,37.6968365 25.9422123,37.8715877 25.6833349,37.9478117 C24.9069539,38.2060434 20.4609257,37.5162227 17.2693475,34.2242267 C17.0068602,33.9497922 16.9246512,33.561631 17.0551732,33.2129713 C17.3534874,32.4021613 17.8047831,30.8148518 17.4032064,29.4713275 C17.3165958,29.198022 17.3583782,28.9027575 17.5179426,28.6605176 C18.0610272,27.8587368 19.6214396,26.1070983 23.5836631,24.7075935 C23.8003867,24.6305455 24.0241225,24.5553033 24.2548694,24.4818669 C24.3779155,24.4424255 24.5074382,24.4240786 24.6373235,24.4276925 C25.0192744,24.433483 25.3690373,24.6309699 25.5552137,24.9459607 C26.3201207,26.2587865 27.849937,29.0993299 27.849937,31.3114502 C27.849937,31.35479 26.4884008,31.6617783 25.046549,31.9759899 C23.4268565,32.3371519 21.7058136,32.6892853 21.7058136,32.6892853" id="Shape"></path>
                <path d="M26.294599,37.186523 L29.7128226,39.0989898 C29.9109661,39.2101087 29.9792215,39.4553562 29.8655801,39.6478592 L29.8345858,39.6993158 C29.7198464,39.8912072 29.4666087,39.957309 29.2678337,39.8472532 L25.84961,37.9347863" id="Shape"></path>
                <path d="M12.4077925,31.5480684 C12.4077925,31.5480684 9.28259204,31.8133815 6.60494213,33.5442347 C5.3836921,34.3168512 4.38055255,35.3588808 3.68247832,36.5799958 C3.52323851,36.8497955 3.50696111,37.1743683 3.63848834,37.4571537 C3.75514204,37.6882077 3.96864869,37.8628647 4.22757133,37.9390493 C5.00408988,38.1971418 9.45090143,37.5076896 12.6430433,34.2174443 C12.9055765,33.9431572 12.9878011,33.5552017 12.8572551,33.2067275 C12.5588885,32.3963491 12.107513,30.809884 12.5091602,29.4670739 C12.5957862,29.1939144 12.5539968,28.8988068 12.3944042,28.6566955 C11.8473983,27.8481218 10.2580219,26.0775623 6.23389613,24.6733874 L6.1784306,24.653534 C6.0088463,24.5945755 5.83479896,24.5344138 5.65628903,24.4730488 C5.53322129,24.4336284 5.40367545,24.4152913 5.27376736,24.4189033 C4.8904364,24.4271651 4.54102774,24.6281654 4.35762868,24.94592 C3.59258579,26.2580475 2.0625,29.0970798 2.0625,31.3080229 C2.0625,31.3982662 8.20579448,32.6851252 8.20579448,32.6851252" id="Shape"></path>
                <path d="M3.6259348,37.038574 L0.207708508,38.9504073 C0.00956490747,39.0616139 -0.0586906253,39.3070552 0.054950989,39.4997106 L0.0859452661,39.5512077 C0.20068465,39.743251 0.453922559,39.8094048 0.652697758,39.6992622 L4.070924,37.7852833" id="Shape"></path>
                <path d="M12.097656,28.74716 C12.8774025,28.5341447 14.1660969,28.5407797 14.9583794,28.4677367 C16.0431324,28.3961524 17.639303,29.3413692 17.639303,29.3413692" id="Shape"></path>
                <path d="M12.4375,32.535156 C12.4375,32.535156 15.2425579,34.161586 17.187484,32.7520133" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
  <span>30% off on 2nd item</span>
</div>