<div class="bs-acct-banner-sec">
  {% if section.settings.page_linklist != blank %}
    {%- assign page_linklist = section.settings.page_linklist -%}
    <div class="bs-acct-mob-linklist bs-pg-top-remove-padding">
      <h3 class="bs-acct-mob-list-btn">DASHBOARD</h3>
      <ul class="bs-acct-mob-list-block" style="display: none;">
        {%- for link in linklists[page_linklist].links -%}
          {%if link.url contains "aftership.com" or link.url contains "a/returns"%}
            <li><a href="{{ link.url }}" target="_blank">{{ link.title | escape }}</a></li>
          {%else%}
            <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
          {%endif%}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
<div class="bs-acct-container">
  <div class="bs-acct-left">
    {% if section.settings.page_linklist != blank %}
      {%- assign page_linklist = section.settings.page_linklist -%}
      <div class="bs-acct-dsk-linklist">
        <h3 class="bs-acct-dsk-list-btn">Dashboard</h3>
        <ul class="bs-acct-dsk-list-block">
          {%- for link in linklists[page_linklist].links -%}
            {%if link.url contains "aftership.com" or link.url contains "a/returns"%}
              <li class="{% if link.current %}bs-acct-link-active{% endif %}"><a href="{{ link.url }}" target="_blank">{{ link.title | escape }}</a></li>
            {%else%}
              <li class="{% if link.current %}bs-acct-link-active{% endif %}"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
            {%endif%}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="bs-acct-details-right">
    <div class="bs-acct-order-block">
      <h2 class="bs-acct-order-title">{{ 'customer.orders.title' | t }}</h2>
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th class="bs-acct-order-th" scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th class="bs-acct-order-th" scope="col"></th>
                <th class="bs-acct-order-th" scope="col">Payment</th>
                <th class="bs-acct-order-th" scope="col">Status</th>
                <th class="bs-acct-order-th" scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th class="bs-acct-order-td" data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td class="bs-acct-order-td" data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td class="bs-acct-order-td" data-label="Payment">{{ order.financial_status_label }}</td>
                  <td class="bs-acct-order-td" data-label="Status">{{ order.fulfillment_status_label }}</td>
                  <td class="bs-acct-order-td" data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      {% endpaginate %}
    </div>
    <div class="bs-acct-info-block">
      <div class="bs-acct-detail-block">
        <div class="bs-acct-detail-block-head">
          <h2 class="bs-acct-info-title">Details</h2>
          <a href="/account/addresses">Edit</a>
        </div>
        <p>
          {{customer.name}}
          <br>{{customer.email}}
          {%if customer.accepts_marketing == true %}
            <br>Accepts Marketing: Yes
          {% else %}
            <br>Accepts Marketing: No
          {% endif %}
        </p>
        
      </div>
      <div class="bs-acct-addr-block">
        <div class="bs-acct-detail-block-head">
          <h2 class="bs-acct-info-title">Addresses</h2>
          <a href="{{ routes.account_addresses_url }}" >
          {{ 'customer.account.view_addresses' | t }}
            ({{ customer.addresses_count }})</a>
        </div>
        {{ customer.default_address | format_address }}
        
      </div>
    </div>
  </div>
  <div class="bs-acct-order-list-right">
    <div class="bs-acct-order-list-accor">
      {%if customer.orders.size == 0%}
        <p>{{ 'customer.orders.none' | t }}</p>
      {%endif%}
      {% for order in customer.orders %}
        <div class="bs-acct-order-accor-head">
          <div class="bs-acct-order-accor-head-ini">
            <div class="bs-acct-order-accor-head-title">{{ order.name }}</div>
            <div class="bs-acct-order-accor-head-status">{{ order.fulfillment_status_label }}</div>
          </div>
        </div>
        <div class="bs-acct-order-accor-cont">
          <table class="order-table">
            <thead>
              <tr>
                <th scope="col">Items</th>
                {% comment %} <th scope="col">{{ 'customer.order.product' | t }}</th> {% endcomment %}
                {% comment %} <th scope="col">{{ 'customer.order.sku' | t }}</th>
                <th class="text-right" scope="col">{{ 'customer.order.price' | t }}</th> {% endcomment %}
                <th class="text-center" scope="col">{{ 'customer.order.quantity' | t }}</th>
                <th class="text-left" scope="col">{{ 'customer.orders.date' | t }}</th>
                <th class="text-right" scope="col">{{ 'customer.order.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {%- for line_item in order.line_items -%}
                <tr id="{{ line_item.key }}">
                  <th class="order-table__product" scope="row" data-label="{{ 'customer.order.product' | t }}">
                    <div>
                      {% comment %} {{ line_item.title | link_to: line_item.product.url }} {% endcomment %}
                      <div class="bs-acct-order-list-pro-item">
                        <div class="bs-acct-order-list-pro-item-img">
                          <a href="{{line_item.product.url}}" >
                            <img src="{{line_item.image | img_url}}" />
                          </a>
                        </div>
                        <div class="bs-acct-order-list-pro-item-info">
                          {% comment %} {{line_item.product.title}} {% endcomment %}
                          {% assign pro_info = line_item.title | split: "-" %}
                          <ul>
                            <li>{{line_item.product.title}}</li>
                            <li>Color: {{pro_info[1]}}</li>
                            <li>Size: {{pro_info[2]}}</li>
                          </ul>
                          {% comment %} {% unless line_item.product.has_only_default_variant %}
                            <ul>
                              {% for option in line_item.options_with_values %}
                                <li>{{ option.name }}: {{ option.value }}</li>
                              {% endfor %}
                            </ul>
                          {% endunless %} {% endcomment %}
                        </div>
                      </div>
                      <div class="bs-acct-order-list-pro-item-price">
                        <div>{{ line_item.quantity }}</div>
                        <div>
                          {%- if line_item.original_line_price != line_item.final_line_price -%}
                            <dl>
                              <dt>
                                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                              </dt>
                              <dd>
                                <s>{{ line_item.original_line_price | money }}</s>
                              </dd>
                              <dt>
                                <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                              </dt>
                              <dd>
                                <span class="order-discount">{{ line_item.final_line_price | money }}</span>
                              </dd>
                            </dl>
                          {%- else -%}
                            {{ line_item.original_line_price | money }}
                          {%- endif -%}
                        </div>
                      </div>
                      {%- assign property_size = line_item.properties | size -%}
                      {% unless line_item.selling_plan_allocation == nil and property_size == 0 %}
                        <div class="item-props">
                          {% unless line_item.selling_plan_allocation == nil  %}
                            <span class="item-props__property">
                              {{ line_item.selling_plan_allocation.selling_plan.name }}
                            </span>
                          {% endunless %}
                          {% if property_size != 0 %}
                            {% for property in line_item.properties %}
                              {% assign property_first_char = property.first | slice: 0 %}
                              {% if property.last != blank and property_first_char != '_' %}
                                <span class="item-props__property">
                                  {{ property.first }}:&nbsp;
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </span>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                      {% endunless %}
                      {%- if line_item.line_level_discount_allocations != blank -%}
                        <ul class="order-discount order-discount--list order-discount--title" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                            <li class="order-discount__item">
                              {% include 'icon-saletag' %}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                    {%- if line_item.fulfillment -%}
                      <div class="note">
                        {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                        {{ 'customer.order.fulfilled_at_html' | t: date: created_at }}
                        <div>
                          {%- if line_item.fulfillment.tracking_url -%}
                            <a href="{{ line_item.fulfillment.tracking_url }}">
                              {{ 'customer.order.track_shipment' | t }}
                            </a>
                          {%- endif -%}
                          <div>
                            {{ line_item.fulfillment.tracking_company }}
                            {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                          </div>
                        </div>
                      </div>
                    {%- endif -%}
                  </th>
                  {% comment %} <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td> {% endcomment %}
                  {% comment %} <td class="text-right" data-label="{{ 'customer.order.price' | t }}">
                    <dl>
                      {%- if line_item.original_price != line_item.final_price -%}
                        <dt>
                          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                        </dt>
                        <dd>
                          <s>{{ line_item.original_price | money }}</s>
                        </dd>
                        <dt>
                          <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                        </dt>
                        <dd>
                          <span class="order-discount">{{ line_item.final_price | money }}</span>
                        </dd>
                      {%- else -%}
                        <dt>
                          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                        </dt>
                        <dd>
                          {{ line_item.original_price | money }}
                        </dd>
                      {%- endif -%}

                      {%- if line_item.unit_price_measurement -%}
                        <dt>
                          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                        </dt>
                        <dd>
                          <span class="price-unit-price">
                            {%- capture unit_price_separator -%}
                              <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                            {%- endcapture -%}
                            {%- capture unit_price_base_unit -%}
                              {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                {{- line_item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ line_item.unit_price_measurement.reference_unit }}
                            {%- endcapture -%}

                            <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                          </span>
                        </dd>
                      {%- endif -%}
                    </dl>
                  </td> {% endcomment %}
                  <td class="text-center " data-label="{{ 'customer.order.quantity' | t }}">
                    <div class="bs-acct-order-list-mob-hide">
                    {{ line_item.quantity }}
                    </div>
                  </td>
                  <td class="text-left" data-label="{{ 'customer.orders.date' | t }}">
                    <div class="bs-acct-order-list-mob-hide">
                    {{ order.created_at | time_tag: format: 'date' }}
                    </div>
                  </td>
                  <td class="text-right" data-label="{{ 'customer.order.total' | t }}">
                    <div class="bs-acct-order-list-mob-hide">
                      {%- if line_item.original_line_price != line_item.final_line_price -%}
                        <dl>
                          <dt>
                            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                          </dt>
                          <dd>
                            <s>{{ line_item.original_line_price | money }}</s>
                          </dd>
                          <dt>
                            <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                          </dt>
                          <dd>
                            <span class="order-discount">{{ line_item.final_line_price | money }}</span>
                          </dd>
                        </dl>
                      {%- else -%}
                        {{ line_item.original_line_price | money }}
                      {%- endif -%}
                    </div>
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
            <tfoot>
              <tr>
                <th class="small--hide" scope="row" colspan="3">{{ 'customer.order.subtotal' | t }}</th>
                <td class="text-right" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
              </tr>

              {%- if order.cart_level_discount_applications != blank -%}
                <tr>
                  {%- for discount_application in order.cart_level_discount_applications -%}
                    <th class="small--hide" scope="row" colspan="3">
                      {{ 'customer.order.discount' | t }}
                      <span class="order-discount order-discount--title">
                        {% include 'icon-saletag' %}{{- discount_application.title -}}
                      </span>
                    </th>
                    <td class="text-right" data-label="{{ 'customer.order.discount' | t }}">
                      <div class="order-discount-wrapper">
                        <span class="order-discount order-discount--title text-left medium-up--hide">
                          {% include 'icon-saletag' %}{{- discount_application.title -}}
                        </span>
                        <span class="order-discount">-{{ discount_application.total_allocated_amount | money }}</span>
                      </div>
                    </td>
                  {%- endfor -%}
                </tr>
              {%- endif -%}

              {%- for shipping_method in order.shipping_methods -%}
                <tr>
                  <th class="small--hide" scope="row" colspan="3">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</th>
                  <td class="text-right" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                </tr>
              {%- endfor -%}

              {%- for tax_line in order.tax_lines -%}
                <tr>
                  <th class="small--hide" scope="row" colspan="3">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</th>
                  <td class="text-right" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                </tr>
              {%- endfor -%}

              <tr>
                <th class="small--hide" scope="row" colspan="3"></th>
                <td class="text-right" data-label="{{ 'customer.order.total' | t }}">{{ 'customer.order.total' | t }}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ order.total_price | money_with_currency }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Account Banner",
  "settings": [
  {
    "type": "link_list",
    "id": "page_linklist",
    "label": "Select Menu",
    "default": "main-menu"
  }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
