<div class="bs-page-faq-sec">
  <div class="bs-faq-head">
    <h1 class="bs-faq-title">{{section.settings.title}}</h1>
  </div>
  <div class="bs-faq-main"> 
    <div class="bs-faq-main-ini">
      <div class="bs-faq-main-accor">
        {% for block in section.blocks %}
          <h4 class="bs-faq-accor-head">{{block.settings.faq_title}}</h4>
          <div class="bs-faq-accor-cont">
            {{block.settings.faq_content}}
          </div>
        {% endfor %}  
      </div>
    </div>
  </div>
  <div class="bs-faq-contact-row">
    <div class="bs-faq-contact-ini">
      <h3 class="bs-faq-contact-title">Have more questions?</h3>
      <div class="bs-faq-contact-form">
        {%- assign formId = 'BSContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}
          <div class="bs-faq-contact-form-block_1">
            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
            <input placeholder="{{ 'contact.form.name' | t }}"
                  type="text" 
                  id="{{ formId }}-name" 
                  name="contact[{{ 'contact.form.name' | t }}]" 
                  value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input
              type="email"
              id="{{ formId }}-email"
              placeholder="{{ 'contact.form.email' | t }}"
              name="contact[email]"
              autocorrect="off"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {%- if form.errors contains 'email' -%}
                class="input--error"
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
              {%- endif -%}
              >
          </div>
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}
          <div class="bs-faq-contact-form-block_2">
            <label for="{{ formId }}-subject">Subject</label>
            <input id="{{ formId }}-subject" placeholder="Subject" name="contact[{{ 'Subject' | t }}]">

            <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
            <textarea rows="4" id="{{ formId }}-message" placeholder="{{ 'contact.form.message' | t }}" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </div>
          <div class="bs-faq-contact-form-block_3">
            <input type="submit" class="bs-faq-contact-btn" value="SEND">
          </div>

        {% endform %}
      </div> 
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Shipping & Delivery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "title",
      "label": "title"
    }
  ],
  "blocks" : [
		{
			"type": "fagitem",
			"name": "Faq Item", 
			"settings": [
        {
					"type": "text",
					"id": "faq_title",
					"default": "Faq title",
					"label": "Faq title"
				},
				{
					"type": "textarea",
					"id": "faq_content",
					"default": "Faq content",
					"label": "Faq content"
				}
			]
		}
	]	
}
{% endschema %}
