<div class="bs-pg-sitemap-sec bs-pg-top-remove-padding">
  {% if section.settings.hero_img != blank %}
    {% assign hero_img= section.settings.hero_img %}
	  <div class="bs-sitemap-banner-img lazyload js" 
      {% unless hero_img.alt == blank %}
        role="img"
        aria-label="{{ hero_img.alt | escape }}"
        data-alt="{{ hero_img.alt | escape }}"
      {% endunless %}
      data-bg="{{ hero_img | img_url: '300x300' }}"
      data-bgset="{% include 'bgset', image: hero_img %}"
      data-sizes="auto"
      data-parent-fit="contain"
      style="background-image: url('{{ hero_img | img_url: '300x300' }}');"
      >
      <div class="bs-sitemap-banner-inn">
        <h1 class="bs-sitemap-title">Site map</h1>
      </div>
	  </div>
  {% endif %}
  <div class="bs-sitemap-row">
    <div class="bs-sitemap-ini">
      <ul>
        {% if section.settings.page_linklist != blank %}
          {%- assign page_linklist = section.settings.page_linklist -%}
          {%- for link in linklists[page_linklist].links -%}
            <li><a href="{{ link.url }}" class="bs-sitemap-link-item">{{ link.title | escape }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Sitemap",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_img",
      "label": "Hero Image",
      "info": "Recommend 1440 x 235px"
    },
    {
    "type": "link_list",
    "id": "page_linklist",
    "label": "Select Menu",
    "default": "main-menu"
    }
  ]
}
{% endschema %}
