<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

<div class="bs-page-about-us-sec bs-pg-top-remove-padding">
  <div class="bs-about-top-row">
    <div class="bs-about-top-cacs-row">
      <div class="bs-about-cacs-row">
        <div class="bs-about-cacs-ini"> 
          <h2>Comfortable And Classy Shoes.</h2>
          <p>
            We use the finest materials to create timeless essentials at honest prices and help children in need. 
          </p>
        </div>
      </div>
      <div class="bs-about-icons-row">
        <div class="bs-about-icons-ini">
          <ul>
            <li>
              <svg width="29px" height="39px" viewBox="0 0 29 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                      <g id="icons" transform="translate(-484.000000, -61.000000)" stroke="#1A1A1A">
                          <g id="lether_ico" transform="translate(485.000000, 62.000000)">
                              <path d="M13.5320328,37 L13.6609092,37 C14.6393122,35.3179726 16.2525771,34.1166159 18.125181,33.6755741 C19.9977833,33.2345303 21.9663603,33.5922778 23.5726848,34.665539 C23.5726848,34.665539 26.8238871,31.443747 26.8180281,31.4318367 C24.4313026,28.2411935 23.1575571,24.3334844 23.1977709,20.325284 C23.159061,16.2232908 24.5004696,12.2310253 26.9996274,9.01030105 C27.028917,9.05794299 25.3242315,4.78802496 25.2422209,4.76420399 C24.5485296,5.02542436 23.8145022,5.15853186 23.0747524,5.15725092 C20.0825649,5.14715029 17.5154535,2.98652234 16.9472601,0 L10.0640831,0 C9.4876785,2.98380876 6.9160284,5.1366434 3.92487498,5.1393851 C3.18512358,5.14066604 2.45109834,5.00755854 1.75740689,4.74633854 C1.69296858,4.74633854 0,9.04007717 0,8.99243523 C2.50798761,12.2139738 3.85582248,16.2111097 3.8194308,20.3193307 C3.85758612,24.3309547 2.57960403,28.2411099 0.187456726,31.4318367 C0.187456726,31.4318367 3.42694341,34.6714957 3.43280133,34.665539 C5.03912448,33.5922778 7.00770204,33.2345303 8.8803054,33.6755741 C10.7529074,34.1166159 12.3661723,35.3179726 13.3445761,37 L13.5320328,37 Z" id="Shape"></path>
                              <path d="M12.5,9 C13.3284271,9 14,8.32842708 14,7.5 C14,6.67157289 13.3284271,6 12.5,6 C11.6715729,6 11,6.67157289 11,7.5 C11,8.32842708 11.6715729,9 12.5,9 Z" id="Oval"></path>
                          </g>
                      </g>
                  </g>
              </svg>
              <span class="bs-ab-icon-txt-dsk">100% premium Leather</span>
              <span class="bs-ab-icon-txt-mob">100% premium <br>Leather</span> 
            </li>
            <li>
              <svg width="50px" height="35px" viewBox="0 0 50 35">
                  <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                      <g id="icons" transform="translate(-478.000000, -200.000000)" stroke="#231F20">
                          <g id="flexible_ico" transform="translate(479.000000, 201.000000)">
                              <path d="M36.8940017,3.90838128 C41.3223994,9.4261656 39.1249335,28.026615 24.0661554,30.785508 C9.00737979,33.544398 0.836598645,14.2321554 0.836598645,14.2321554 L0,17.1731349 C0,17.1731349 8.27117231,35.475624 24.7242792,32.7167319 C40.2571292,30.1123392 46.7212507,6.1154949 34.9419384,3.01450021 C34.5738363,2.91518009 30.2123686,3.10830254 30.6362439,10.9159668 C30.8593388,14.9880921 30.2123686,18.5580981 25.2820104,19.8437415 C17.6689639,21.830145 15.2093649,12.460947 15.2093649,12.460947 L15.1759007,12.3450738 C13.4152943,13.7023386 10.9425007,13.684065 9.20258612,12.3009309 C7.18359401,10.8056118 7.46246043,7.9529172 7.60189323,5.6795901 C7.52938801,5.6354478 6.37488213,6.1154949 3.56391024,8.598498 C0.752938842,11.0815011 0.557732471,12.207129 0.658124292,13.6362345 C0.752547169,14.302344 0.677792156,14.981232 0.440608673,15.6116019" id="Shape"></path>
                              <path d="M44.9138727,25 C44.9138727,25 52.996986,14.1898322 43,1" id="Shape"></path>
                              <polyline id="Shape" points="43 7 43 0 49 2.83860514"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
              <span class="bs-ab-icon-txt-dsk">Flexible soles reduce strain on your feet.</span>
              <span class="bs-ab-icon-txt-mob">Flexible soles</span> 
            </li>
            <li>
              <svg width="72px" height="22px" viewBox="0 0 72 22">
                  <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="icons" transform="translate(-559.000000, -67.000000)">
                          <g id="flat_packs_ico" transform="translate(560.000000, 67.000000)">
                              <g id="no-lining" transform="translate(12.017765, 0.000000)" stroke="#231F20" stroke-dasharray="4,4" stroke-linecap="round" stroke-linejoin="round">
                                  <path d="M56.640906,16.948011 C56.640906,16.948011 57.981697,15.9461361 57.981697,15.2841044 C57.981697,14.6220727 58.0894776,13.4657235 54.5844528,12.5256394 C51.0794256,11.5855544 45.207536,9.60387279 40.4651886,7.00870877 L27.3719958,0.11033861 L27.2599043,0 C27.2599043,0 21.2759226,6.17896246 16.6974011,6.84099414 C12.1188808,7.50302582 6.67811362,6.89836993 3.16877623,3.08948123 C3.06099546,3.08948123 1.39255131,4.19286725 0.642398028,8.99480432 C-0.107755252,13.7967402 -0.331938979,15.006052 0.689821439,16.550792" id="Shape"></path>
                              </g>
                              <g id="no-lining" transform="translate(12.017765, 16.000000)" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round">
                                  <path d="M0.68972796,0.4296875 C0.68972796,0.4296875 1.02744059,1.25207801 1.70286586,2.89685903 C1.94055872,3.46271092 2.20066935,3.75596654 2.48319774,3.77662586 C4.77676955,3.90572169 11.0668478,4.21650899 14.9857515,4.02525544 C19.4964061,3.88147935 24.0107598,4.00117839 28.5100662,4.38385613 C29.9672594,4.56554687 46.0783092,6.05732531 53.1918325,3.6092789 C57.3435408,2.4139437 56.6408129,0.860008134 56.6408129,0.860008134" id="Shape"></path>
                                  <path d="M1.3804322,0.499999999 C3.68894726,0.499999999 22.0959506,0.52139702 56.6014422,0.564191062 L1.3804322,0.499999999 Z" id="Shape"></path>
                              </g>
                              <path d="M3.27047245,4 L3.27047245,20" id="Path-3" stroke="#1A1A1A"></path>
                              <polyline id="Path-5" stroke="#1A1A1A" transform="translate(3.024611, 4.502781) rotate(179.000000) translate(-3.024611, -4.502781) " points="0.0250512678 3.002781 2.92245875 6.002781 6.02319527 3.10929045"></polyline>
                              <polyline id="Path-5" stroke="#1A1A1A" points="0.02147773 17 2.91888521 20 6.01962173 17.1065095"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
              
              <span class="bs-ab-icon-txt-dsk">Packs flat to save luggage space</span>
              <span class="bs-ab-icon-txt-mob">Packs flat -<br>saves space</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bs-about-video-row">
      <iframe width="100%" height="500px" data-src="https://fast.wistia.net/embed/iframe/ommolgxirk?videoFoam=true&autoPlay=true&endVideoBehavior=loop&muted=true&controlsVisibleOnLoad=false&playbackRateControl=false&playbar=false" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed zpa-lazyloaded" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" src="https://fast.wistia.net/embed/iframe/ommolgxirk?videoFoam=true&autoPlay=true&endVideoBehavior=loop&muted=true&controlsVisibleOnLoad=false&playbackRateControl=false&playbar=false"></iframe>
    </div>
  </div>
  <div class="bs-about-mat-row">
    <div class="bs-about-mat-ini">
      <div class="bs-about-mat-left">
        <div class="bs-about-mat-left-ini">
          <h2>Using Only The Best Materials</h2>
          <p>We stitch our soft leathers directly onto the flexi-rubber soles which makes it super soft and flexible, just like gloves on your feet.
          <br>Explore a new city on foot or shop the entire day - our sports footbed will cushion your feet gently.
          <br>We believe we have an incredible product which is effortlessly stylish and super comfortable to wear.
          <br>Weighing only 280g/0.6lb, it’s really quite perfect for travel.
          </p>
        </div>
        <div class="bs-about-quality-left-ini">
          <h2>You're Getting The Best Quality</h2>
          <p class="bs-about-quality-top-des">You’re getting the best quality at the very best price. How do we do it? We are an ecommerce company with a very lean cost model. We design in-house, work directly with producers and avoid middlemen costs.</p>
          <h5>What does this mean to you? </h5>
          <div class="bs-about-quality-left-con">
            <div class="bs-about-quality-left-item">
              <svg width="27px" height="19px" viewBox="0 0 27 19" >
                <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g id="icons" transform="translate(-392.000000, -63.000000)" stroke="#1A1A1A">
                        <g id="materials" transform="translate(393.000000, 64.000000)">
                            <polyline id="Shape" points="0.33007812 9.902022 7.22964819 0 18.5021291 0 24.9998211 8.30898866"></polyline>
                            <path d="M3.78075801,11.269531 L22.0164719,11.269531 C23.6646253,11.269531 25.0007154,12.5523107 25.0007154,14.1346995 C25.0007154,15.7170883 23.6646253,16.999868 22.0164719,16.999868 L0.068359375,16.999868 C0.068359375,16.999868 0.597565161,14.925486 1.95042215,14.0582951" id="Shape"></path>
                            <path d="M21.21996,14.134634 L2.98424341,14.134634 C1.33609118,14.134634 2.2087838e-16,12.8518543 0,11.2694655 C-1.98790546e-16,9.68707666 1.33609118,8.404297 2.98424341,8.404297 L24.936337,8.404297 C24.936337,8.404297 23.7665136,10.444297 22.3300975,11.2694655" id="Shape"></path>
                            <path d="M16.8306632,1.53621619 L16.050781,0.06542969" id="Shape"></path>
                            <path d="M18.3278598,4.3515138 L17.38086,2.571289" id="Shape"></path>
                            <path d="M20.4601973,8.3738208 L18.844727,5.3291016" id="Shape"></path>
                        </g>
                    </g>
                </g>
              </svg>
              <p class="bs-about-quality-icon-des">Experience a high quality product using<br>premium materials.</p>
            </div>
            <div class="bs-about-quality-left-item">
              <svg width="28px" height="28px" viewBox="0 0 28 28">
                  <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="icons" transform="translate(-393.000000, -93.000000)">
                          <g id="save_ioc" transform="translate(393.000000, 93.000000)">
                              <polygon id="Star" stroke="#000000" points="13.549805 0 18.3403846 8.75922537 27.09961 13.549805 18.3403846 18.3403846 13.5498042 27.09961 8.75922537 18.3403833 0 13.549805 8.75922673 8.75922348"></polygon>
                              <path d="M15.9220348,15.9581527 C15.9220348,15.4835381 15.7681058,15.0955085 15.4602476,14.7940643 C15.1523894,14.4926206 14.6093624,14.2072103 13.8311654,13.9378346 C12.864833,13.634252 12.1871177,13.2740153 11.7980195,12.8571243 C11.4089211,12.440233 11.2143719,11.9004125 11.2143719,11.2376622 C11.2143719,10.5407059 11.4281622,9.97523032 11.8557429,9.54123587 C12.2833235,9.10724155 12.8648331,8.86031374 13.6002719,8.80045244 L13.6002719,7.504883 L14.2544706,7.504883 L14.2544706,8.80045244 C15.007012,8.86819728 15.589591,9.14916465 16.0022063,9.64335431 C16.4148215,10.137544 16.6211291,10.8100819 16.6211291,11.6609672 L15.8578975,11.6609672 C15.8578973,10.9896657 15.6836581,10.4562586 15.3351802,10.0607465 C14.9867017,9.66523439 14.5110185,9.4674784 13.90813,9.4674784 C13.3009652,9.4674784 12.8274197,9.62700268 12.4874932,9.94605136 C12.1475667,10.2651005 11.9776034,10.6901256 11.9776034,11.221127 C11.9776034,11.7350263 12.1336703,12.1365008 12.4458041,12.4255515 C12.7579378,12.7146033 13.2892065,12.9865343 14.039611,13.2413453 C14.7900147,13.4961569 15.3351799,13.740078 15.6751071,13.9731099 C16.0150331,14.2061417 16.2694434,14.4819308 16.4383385,14.8004788 C16.6072328,15.1190256 16.69168,15.5006419 16.69168,15.9453259 C16.69168,16.6465581 16.4725449,17.2120339 16.0342745,17.6417517 C15.596004,18.0714702 14.9941843,18.3162603 14.2288155,18.3761215 L14.2288155,19.594727 L13.5810307,19.594727 L13.5810307,18.3825356 C12.7215937,18.3269497 12.0567058,18.0565053 11.5863671,17.5712015 C11.1160282,17.085897 10.8808589,16.4220775 10.880859,15.5797442 L11.6505042,15.5797442 C11.6505042,16.2467699 11.8450534,16.7694871 12.2341517,17.1478961 C12.6232499,17.5263051 13.166277,17.7155095 13.8632341,17.7155095 C14.4703984,17.7155095 14.9653223,17.5530292 15.3480078,17.228068 C15.7306919,16.9031064 15.9220344,16.4798017 15.9220348,15.9581527 Z" id="$" fill="#282828"></path>
                          </g>
                      </g>
                  </g>
              </svg>
              <p class="bs-about-quality-icon-des">Save money with honest prices below<br>US $100.</p>
            </div>
            <div class="bs-about-quality-left-item">
              <svg width="27px" height="27px" viewBox="0 0 27 27">
                <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g id="icons" transform="translate(-392.000000, -137.000000)" stroke="#000000">
                        <g id="location_ico-2" transform="translate(393.000000, 138.000000)">
                            <path d="M12.481799,25 C19.3753059,25 24.963598,19.403559 24.963598,12.5 C24.963598,5.59644075 19.3753059,0 12.481799,0 C5.58829188,0 0,5.59644075 0,12.5 C0,19.403559 5.58829188,25 12.481799,25 Z" id="Oval"></path>
                            <path d="M16.525338,11.4863868 C16.525338,13.7234207 12.4817454,17.8779124 12.4817454,17.8779124 C12.4817454,17.8779124 8.433594,13.7234207 8.433594,11.4863868 C8.5068357,9.30157454 10.2966053,7.5683594 12.479466,7.5683594 C14.6623268,7.5683594 16.4520964,9.30157454 16.525338,11.4863868 Z" id="Shape"></path>
                            <path d="M12.4822951,13.2028416 C13.4012617,13.2028416 14.1462313,12.4567857 14.1462313,11.5364793 C14.1462313,10.6161728 13.4012617,9.870117 12.4822951,9.870117 C11.5633286,9.870117 10.818359,10.6161728 10.818359,11.5364793 C10.818359,12.4567857 11.5633286,13.2028416 12.4822951,13.2028416 Z" id="Oval"></path>
                            <path d="M7.43068475,13.7733231 C4.96312613,13.6552316 2.51522636,13.1833238 0.13671875,12.3671875" id="Shape"></path>
                            <path d="M25.0000213,11.998047 C23.1828898,12.842642 20.6389054,13.4589681 17.706055,13.7146293" id="Shape"></path>
                        </g>
                    </g>
                </g>
              </svg>
              <p class="bs-about-quality-icon-des">Feel at ease with our free worldwide<br>shipping returns guarantee*</p>
            </div>
          </div>        
        </div>
      </div>
      <div class="bs-about-mat-right">
        {%- assign img_url = section.settings.about2_img | img_url: '2x2' | replace: '_2x2.', '_{width}x.' -%}
        <img class="lazyload js bs-about-mat-right-img-dsk"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-sizes="auto"
            />
        {%- assign img_url = section.settings.about2_img_mob | img_url: '2x2' | replace: '_2x2.', '_{width}x.' -%}
        <img class="lazyload js bs-about-mat-right-img-mob"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-sizes="auto"
            />
      </div>
    </div>
  </div>
  <div class="bs-about-diff-row">
    <div class="bs-about-diff-left">
      <h2>Making a Difference</h2>
      <p>We dedicate 10% of our profit towards the goal of feeding hungry children, building sustainable communities and supporting their growth.</p>
    </div>
    <div class="bs-about-diff-right">
      {%- assign img_url = section.settings.diff_img | img_url: '2x2' | replace: '_2x2.', '_{width}x.' -%}
        <img class="lazyload js"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-sizes="auto"
            />
    </div>
  </div>
  <div class="bs-about-miss-row">
    <div class="bs-about-miss-left">
      <h2>Our Mission</h2>
      <h3>#buy1feed1</h3>
      <p>
        Its not enough that we are producing great products at great prices,
        <br>we also need to be contributing to helping a cause that is close to our hearts. 
      </p>
      <span>Join us on this endless path of giving back to hungry children.</span>
      <a class="bs-about-mk-btn" href="{{section.settings.mission_link}}">LEARN MORE</a>
    </div>
    <div class="bs-about-miss-right">
      {%- assign img_url = section.settings.miss_img | img_url: '2x2' | replace: '_2x2.', '_{width}x.' -%}
        <img class="lazyload js"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-sizes="auto"
            />
    </div>
  </div>
</div>


{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "about2_img",
      "label": "About2 Image",
      "info": "Recommend 1064 x 1080px"
    },
    {
      "type": "image_picker",
      "id": "about2_img_mob",
      "label": "About2 Image Mobile",
      "info": "Recommend 1500 x 1228px"
    },
    {
      "type": "image_picker",
      "id": "diff_img",
      "label": "Diff Image",
      "info": "Recommend 1050 x 1050px"
    },
    {
      "type": "image_picker",
      "id": "miss_img",
      "label": "Mission Image",
      "info": "Recommend 1050 x 1050px"
    },
    {
      "type": "url",
      "id": "mission_link",
      "label": "Mission link"
    }
  ]
}
{% endschema %}
