<div class="hm-as-seen-in-main">
	<div class="hm-as-seen-in-inn">
		<div class="hm-as-seen-in-row">
			<div class="hm-as-seen-in-left">
				<h3>{{section.settings.text_1}}</h3>
			</div>
			<div class="hm-as-seen-in-mid">
				<ul class="logo-slider-mobile cst-slider-dots-lt">
					<li><a href="#">
            {{section.settings.svg_code_1}}
            {% comment %} <img class="lazyload" data-src="{{section.settings.image_1 | img_url : "medium"}}" /> {% endcomment %}
          </a></li>
					<li><a href="#">
            {{section.settings.svg_code_2}}
            {% comment %} <img class="lazyload" data-src="{{section.settings.image_2 | img_url : "medium"}}" /> {% endcomment %}
          </a></li>
					<li><a href="#">
            {{section.settings.svg_code_3}}
            {% comment %} <img class="lazyload" data-src="{{section.settings.image_3 | img_url : "medium"}}" /> {% endcomment %}
          </a></li>
					<li><a href="#">
            {{section.settings.svg_code_4}}
            {% comment %} <img class="lazyload" data-src="{{section.settings.image_4 | img_url : "medium"}}" /> {% endcomment %}
          </a></li>
				</ul>
			</div>
			<div class="hm-as-seen-in-right">
				<p>{{section.settings.text_2}}</p>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Logo With Text",
    "settings": [
{
      "type": "text",
      "id": "text_1",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text 1"
      },
      "default": {
        "cs": "Tady můžete zadat oznámení",
        "da": "Meddel noget her",
        "de": "Hier etwas ankündigen",
        "en": "Title"
      }
    },
    {
      "type": "text",
      "id": "text_2",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text 1"
      },
      "default": {
        "cs": "Tady můžete zadat oznámení",
        "da": "Meddel noget her",
        "de": "Hier etwas ankündigen",
        "en": "Title"
      }
    },
    {
      "type": "textarea",
      "id": "svg_code_1",
      "label": "SVG HTML",
      "default":"Text",
      "info": "Recommended 152 x 40 px "
    },
    {
      "type": "textarea",
      "id": "svg_code_2",
      "label": "SVG HTML",
      "default":"Text",
      "info": "Recommended 216 x 50 px "
    },
    {
      "type": "textarea",
      "id": "svg_code_3",
      "label": "SVG HTML",
      "default":"Text",
      "info": "Recommended 106 x 28 px "
    },
    {
      "type": "textarea",
      "id": "svg_code_4",
      "label": "SVG HTML",
      "default":"Text",
      "info": "Recommended 240 x 38 px "
    } 


],
  "presets": [
    {
      "name": {
        "cs": "Logo With Text",
        "da": "Logo With Text",
        "de": "Logo With Text",
        "en": "Logo With Text"
      },
      "category": {
        "cs": "Gallery",
        "da": "Gallery",
        "de": "Gallery",
        "en": "Gallery"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
