<div data-section-id="{{ section.id }}" class="popup-overlay {% if section.settings.show %} active {% endif %}" data-section-type="size-guide">
    <div class="size-guide__content size-block">

        <a href="#" class="close-btn" id="close-login-popup">
            
        </a>

        <h1 class="size-guide__main-title">
            Size Guide
        </h1>

        <ul class="size-guide__ul">
            <li class="size-guide__li active" data-toggle="size" role="presentation">Choose the right size</li>
            <li class="size-guide__li"  data-toggle="measure" role="presentation">How to measure your feet</li>
        </ul>

        <div data-attr="size" aria-labelledby="size" class="size-guide__item active">

            <div class="size-guide__column size-guide__column--text">
                <div class="size-guide__title">{{ section.settings.title-help }}</div>
                <div class="size-guide__desc desktop-info-tab">
                  <div class="size-guide__desc_row">
                    <div class="size-guide__desc_col">
                      {{section.settings.text-help-left}}
                    </div>
                    <div class="size-guide__desc_col">
                      {{section.settings.text-help-right}}
                   </div>
                  </div>
                </div>
              <div class="size-guide__desc mobile-info-tab">
                {{section.settings.text-help-mob}}
              </div>
              <div class="read-more-wrap"><span class="size-guide__readmore mobile_">Read more</span></div>
            </div>

            <div class="size-guide__column size-table-con">
              <div class="size-table-con-img-row">
                <div class="size-table-con-img-block">
                	<img src="{{ section.settings.tab_image | img_url: 'master' }}" />
                </div>
                <div class="size-table-con-tbl-block">
                	<table class="size-guide-table">
                    <thead>
                        <tr>
                            <th rowspan=2 colspan=1>eu<br>size</th>
                            <th rowspan=2 colspan=1>us<br>size</th>
                            <th colspan=2>length (cm)</th>
                            <th colspan=2>width (cm)</th>
                        </tr>
                        <tr>
                            <td>SHOE</td>
                            <td>Ideal Foot Length</td>
                            <td>Shoe</td>
                            <td>Ideal Foot Width</td>
                        </tr>
                    </thead>
                    <tbody>
                      {% for block in section.blocks %}
                        <tr>
                            <td>{{block.settings.size-eu}} <br/>{%if forloop.last%}(Classics only){%endif%}</td>
                            <td>{{block.settings.size-us}}</td>
                          <td>{{block.settings.length}}</td>
                            <td>{{block.settings.ideal_length}}</td>
                          <td>{{block.settings.width}}</td>
                            <td>{{block.settings.ideal_width}}</td>
                        </tr>
                      {%endfor%}
                        
                        <td colspan="6" class="last">1 inch = 2.54cm</td>
                    </tbody>
                </table>
                </div>
              </div>                
            </div>
        </div>

        <div data-attr="measure"  aria-labelledby="measure" class="size-guide__item ">
		  <div class="measure__block_row">            
            <div class="measure__block">
              <div class="measure__block_inn">
                {%- if section.settings.image-measure1 != blank -%}
                    <div class="measure__image">
                        <img src="{{ section.settings.image-measure1 | img_url: 'master' }}"
                            alt="{{ section.settings.title-measure1 | escape }}" />
                    </div>
                {%- endif -%}


                {%- if section.settings.title-measure1 != blank -%}
                    <div class="measure__title">
                        {{ section.settings.title-measure1 }}
                    </div>
                {%- endif -%}

                {%- if section.settings.text-measure1 != blank -%}
                <div class="measure__text">
                    {{ section.settings.text-measure1 }}
                </div>
                {%- endif -%}
              </div>
            </div>

            <div class="measure__block">
              <div class="measure__block_inn">
                {%- if section.settings.image-measure2 != blank -%}
                <div class="measure__image">
                    <img src="{{ section.settings.image-measure2 | img_url: 'master' }}"
                         alt="{{ section.settings.title-measure2 | escape }}" />
                </div>
                {%- endif -%}


                {%- if section.settings.title-measure2 != blank -%}
                <div class="measure__title">
                    {{ section.settings.title-measure2 }}
                </div>
                {%- endif -%}

                {%- if section.settings.text-measure2 != blank -%}
                <div class="measure__text">
                    {{ section.settings.text-measure2 }} 
                </div>
                {%- endif -%}
              </div>
            </div>

            <div class="measure__block">
              <div class="measure__block_inn">
                {%- if section.settings.image-measure3 != blank -%}
                <div class="measure__image">
                    <img src="{{ section.settings.image-measure3 | img_url: 'master' }}"
                         alt="{{ section.settings.title-measure3 | escape }}" />
                </div>
                {%- endif -%}


                {%- if section.settings.title-measure3 != blank -%}
                <div class="measure__title">
                    {{ section.settings.title-measure3 }}
                </div>
                {%- endif -%}

                {%- if section.settings.text-measure3 != blank -%}
                <div class="measure__text">
                    {{ section.settings.text-measure3 }}
                </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


{% schema %}
  {
    "name": "Size Guide",
    "class": "size-guide",
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show pop up",
            "default": false
        },
        {
            "type": "text",
            "id": "title-help",
            "label": "Help title"
        },
{
            "type": "image_picker",
            "id": "tab_image",
            "label": "Tab 1 Image",
        "info": {
          "cs": "Dojde ke zmenšení na 32 × 32 px",
          "da": "Skaleres ned til 32 x 32 px",
          "de": "Wird in der Größe 32 x 32 px angezeigt",
          "en": "Recommended 615 x 675 px "
        }
        },
        {
            "type": "textarea",
            "id": "text-help-right",
            "label": "Help text for right side (Desktop)"
        },
         {
            "type": "textarea",
            "id": "text-help-left",
            "label": "Help text for left side (Desktop)"
        },
        {
        "type": "textarea",
            "id": "text-help-mob",
            "label": "Help Content Mobile"
        },
        {
            "type": "text",
            "id": "title-measure1",
            "label": "Measure title 1"
        },
        {
            "type": "richtext",
            "id": "text-measure1",
            "label": "Measure text 1"
        },
        {
            "type": "image_picker",
            "id": "image-measure1",
            "label": "Measure image 1",
        "info": {
          "cs": "Dojde ke zmenšení na 32 × 32 px",
          "da": "Skaleres ned til 32 x 32 px",
          "de": "Wird in der Größe 32 x 32 px angezeigt",
          "en": "Recommended 375 x 377 px "
        }
        },
        {
            "type": "text",
            "id": "title-measure2",
            "label": "Measure title 2"
        },
        {
            "type": "richtext",
            "id": "text-measure2",
            "label": "Measure text 2"
        },
        {
            "type": "image_picker",
            "id": "image-measure2",
            "label": "Measure image 2",
        "info": {
          "cs": "Dojde ke zmenšení na 32 × 32 px",
          "da": "Skaleres ned til 32 x 32 px",
          "de": "Wird in der Größe 32 x 32 px angezeigt",
          "en": "Recommended 375 x 377 px "
        }
        },
        {
            "type": "text",
            "id": "title-measure3",
            "label": "Measure title 3"
        },
        {
            "type": "richtext",
            "id": "text-measure3",
            "label": "Measure text 3"
        },
        {
            "type": "image_picker",
            "id": "image-measure3",
            "label": "Measure image 3",
        "info": {
          "cs": "Dojde ke zmenšení na 32 × 32 px",
          "da": "Skaleres ned til 32 x 32 px",
          "de": "Wird in der Größe 32 x 32 px angezeigt",
          "en": "Recommended 375 x 377 px "
        }
        }
    ],
    "blocks": [
        {
            "type": "featured_collection",
            "name": "Size",
            "settings": [
                {
                    "type": "text",
                    "id": "size-eu",
                    "label": "EU Size"
                },
                {
                    "type": "text",
                    "id": "size-us",
                    "label": "US Size"
                },
                {
                    "type": "text",
                    "id": "length",
                    "label": "Length"
                },
				{
                    "type": "text",
                    "id": "ideal_length",
                    "label": "Ideal Length"
                },
                {
                    "type": "text",
                    "id": "width",
                    "label": "Width"
                },
                {
                    "type": "text",
                    "id": "ideal_width",
                    "label": "Ideal Width"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Size Guide",
            "category": "Content"
        }
    ]
  }
{% endschema %}
